.form-container {
    max-width: 20%;
    margin: 0 auto;
    justify-content: center;
}
.form-control {
    text-align: center;
}
.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.btn-container-social {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.google-btn {
    width: 100%;
    background-color: crimson;
    color: antiquewhite;
}
.facebook-btn {
    width: 100%;
    margin-top: 1em;
    background-color: rgb(0, 89, 233);
    color:antiquewhite ;
}
.facebook-btn:hover{
    background-color:rgb(240, 241, 242);
    color: black;
}
.google-btn:hover{
    background-color:rgb(240, 241, 242);
    color: black;
}
.or {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.register-text {
    text-align: center;
}

@media (max-width: 768px) {
    .form-container {
        max-width: 60%;
    }
}
