.devices-container {
    max-width: 95%;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 7px;
}
.devices-container :hover {
    transform: scale(1.05);
    cursor: pointer;
}
.card-item {
    width: 18rem;
    margin: 2em;
}
.card-item :hover {
    transform:scale(1.0);
}

@media (max-width: 500px) {
    .devices-container {
        max-width: 95%;
        flex-direction: column; 
        align-items:center;
    }
    .card-item {
        width: 15rem;
    }
}
