  .device-container {
    max-width: 78%; 
    margin: 0 auto;
    padding-bottom: 2em;
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
  }
  .my-card {
    width: 18rem;
    margin: 1em;
    text-align: center;
  }
  
  .my-card img {
    transition: all 0.3s ease;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  }
  .additional-btns {
   padding: 5px;
   margin-bottom: 1em;
   justify-content: space-evenly;
   display: flex;
  }
  .my-card:hover .middle {
    opacity: 0.8;
    display: flex;
    flex-direction: column;
  }

  .my-card:hover {
    opacity: 1;
    transform: scale(1.02);
  }

  .middle button {
    background-color: #f1f1f1;
    color: black;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }
  .card-text {
    text-align: center;
    font-style: italic;
  }
  .modal {
    justify-content: center;
  }
  .modal-body {
    font-family:'Times New Roman', Times, serif;
    color: #333;
    line-height: 1;
    text-align: center;
    text-transform:capitalize;
    font-size: 1.5rem;

  }
  
  .modal-body p {
    margin-bottom: 1em;
  }
  
  .modal-title {
    font-size: 2em;
    color: #444;
    margin:  auto;
  }
  .modal-footer {
    justify-content: center;
  }
  .card-title {
    font-size: 1.35rem; /* Adjust the font size as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
/* Media queries for responsiveness */

@media (max-width: 768px) {
  .my-card {
    max-width: 100%; 
  }
}
