.reg-form-container {
    max-width: 20%;
    margin: 0 auto;
    justify-content: center;
}
.form-control {
    text-align: center;
}
.reg-btn-container {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.login-link {
    text-align: center;
}
.form-label {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .reg-form-container {
        max-width: 60%;
    }
}